<div ng-app="myApp" ng-controller="HomeController">
  <!-- Toast Container (Top Right) -->
  <div
    aria-live="polite"
    aria-atomic="true"
    class="position-fixed top-0 end-0 p-3"
    style="z-index: 1080"
  >
    <div
      class="toast align-items-center text-white"
      ng-class="{
         'bg-success': messageAlert && messageAlert.message,
         'bg-danger': messageAlert && messageAlert.error,
         'show': showToast
       }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      ng-if="messageAlert"
    >
      <div class="d-flex">
        <div class="toast-body">
          {{ messageAlert.message || messageAlert.error }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          ng-click="hideToast()"
        ></button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Left Side: Add User Button -->
    <button ng-click="handleAddUser()" class="btn btn-primary">Add User</button>

    <!-- Right Side: Gender Filter -->
    <div>
      <select
        class="form-select"
        ng-model="selectedGender"
        ng-change="filterByGender()"
      >
        <option value="">All</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
  </div>

  <div
    ui-grid="gridOptions"
    ui-grid-pagination
    class="grid"
    height="auto"
  ></div>

  <!-- Modal Backdrop -->
  <div class="modal-backdrop" ng-if="formModel"></div>

  <!-- Edit/add Bootstrap Styled Modal -->

  <div
    class="modal show d-block"
    tabindex="-1"
    ng-if="formModel"
    ng-controller="UserController"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content shadow-lg border-0 rounded-4">
        <!-- Modal Header -->
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">
            {{ addnewUser ? 'Add User' : 'Edit User' }}
          </h5>

          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            ng-click="closeModal()"
          ></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body mx-2 me-2">
          <form name="userForm" novalidate>
            <div class="d-flex mb-2 gap-4">
              <!-- Photo Upload -->
              <div class="text-center col-md-6">
                <div class="text-center">
                  <img
                    ng-src="{{ imageUrl }}"
                    class="user-photo mb-3"
                    alt="User Photo"
                  />

                  <input
                    type="file"
                    class="form-control"
                    ngf-select="uploadImage($file)"
                    accept="image/*"
                  />
                </div>
              </div>
              <div class="col-md-6 mt-2">
                <!-- First Name -->
                <div
                  class="mb-3 row align-items-center"
                  ng-class="{'has-error': userForm.FirstName.$touched && userForm.FirstName.$invalid}"
                >
                  <label class="col-sm-4 col-form-label form_space"
                    >First Name :<span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control "
                      name="FirstName"
                      ng-model="addUser.FirstName"
                      ng-maxlength="50"
                      ng-required="true"
                      ng-class="{
                      'is-invalid': userForm.FirstName.$touched && userForm.FirstName.$invalid
                    }"
                    />
                    <samll
                      class="text-danger"
                      ng-if="userForm.FirstName.$touched && userForm.FirstName.$error.required"
                    >
                      First Name is required.
                    </samll>
                    <samll
                      class="text-danger"
                      ng-if="userForm.FirstName.$touched && userForm.FirstName.$error.maxlength"
                    >
                      First Name must be less than or equal to 50 characters.
                    </samll>
                  </div>
                </div>

                <!-- Last Name -->
                <div
                  class="mb-3 row align-items-center"
                  ng-class="{'has-error': userForm.LastName.$touched && userForm.LastName.$invalid}"
                >
                  <label class="col-sm-4 col-form-label form_space"
                    >Last Name: <span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      name="LastName"
                      ng-model="addUser.LastName"
                      ng-required="true"
                      ng-maxlength="50"
                      ng-class="{
                      'is-invalid': userForm.LastName.$touched && userForm.LastName.$invalid
                    }"
                    />
                    <small
                      class="text-danger"
                      ng-if="userForm.LastName.$touched && userForm.LastName.$error.required"
                    >
                      Last Name is required.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.LastName.$touched && userForm.LastName.$error.maxlength"
                    >
                      Last Name must be less than or equal to 50 characters.
                    </small>
                  </div>
                </div>

                <!-- Email -->
                <div class="mb-3 row align-items-center">
                  <label class="col-sm-4 col-form-label form_space"
                    >Email: <span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <input
                      type="email"
                      class="form-control"
                      ng-model="addUser.Email"
                      name="Email"
                      ng-maxlength="50"
                      ng-disabled="!addnewUser"
                      ng-blur="checkEmail(addUser.Email)"
                      ng-required="true"
                      ng-class="{
                      'is-invalid': userForm.Email.$touched && userForm.Email.$invalid
                    }"
                    />
                    <small class="text-danger" ng-if="emailMsgExists">
                      The email you entered is already in use.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Email.$touched && userForm.Email.$error.required"
                    >
                      Email is required.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Email.$touched && userForm.Email.$error.email"
                    >
                      Please enter a valid email.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Email.$touched && userForm.Email.$error.maxlength"
                    >
                      Email must be less than or equal to 50 characters.
                    </small>
                  </div>
                </div>

                <!-- Password -->
                <div class="mb-3 row align-items-center">
                  <label class="col-sm-4 col-form-label form_space"
                    >Password: <span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input
                        type="{{ passwordVisible ? 'text' : 'password' }}"
                        class="form-control rounded-left"
                        ng-model="addUser.Password"
                        name="Password"
                        ng-required="true"
                        ng-minlength="8"
                        ng-maxlength="16"
                        ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/"
                        ng-class="{
                        'is-invalid': userForm.Password.$touched && userForm.Password.$invalid
                      }"
                      />
                      <!-- Toggle visibility button -->
                      <div class="input-group-append rounded-right">
                        <button
                          type="button"
                          class="btn btn-outline-secondary rounded-right"
                          ng-click="togglePasswordVisibility()"
                        >
                          <span ng-if="passwordVisible">Hide</span>
                          <span ng-if="!passwordVisible">Show</span>
                        </button>
                      </div>
                    </div>
                    <!-- Validation Messages -->
                    <small
                      class="text-danger"
                      ng-if="userForm.Password.$touched && userForm.Password.$error.required"
                    >
                      Password is required.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Password.$touched && userForm.Password.$error.minlength"
                    >
                      Password must be at least 8 characters long.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Password.$touched && userForm.Password.$error.maxlength"
                    >
                      Password must be less than or equal to 16 characters.
                    </small>
                    <small
                      class="text-danger"
                      ng-if="userForm.Password.$touched && userForm.Password.$error.pattern"
                    >
                      Password must contain at least 1 uppercase letter, 1
                      special character, and 1 number.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="d-flex gap-4 mb-2">
              <!-- Birthday -->
              <div class="col-md-6">
                <div
                  class="row align-items-center"
                  ng-class="{'has-error': userForm.Birthday.$touched && userForm.Birthday.$invalid}"
                >
                  <label class="col-sm-4 col-form-label"
                    >Birthday: <span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <input
                      type="date"
                      class="form-control"
                      name="Birthday"
                      ng-model="addUser.Birthday"
                      ng-change="checkAge()"
                      ng-required="true"
                      max="{{ today | date:'yyyy-MM-dd' }}"
                      ng-class="{
                      'is-invalid': userForm.Birthday.$touched && (userForm.Birthday.$invalid || isUnder18)
                    }"
                    />
                    <!-- Required validation -->
                    <small
                      class="text-danger"
                      ng-if="userForm.Birthday.$touched && userForm.Birthday.$error.required"
                    >
                      Birthday is required.
                    </small>
                    <!-- Age check validation -->
                    <small
                      class="text-danger"
                      ng-if="userForm.Birthday.$touched && isUnder18 && addUser.Birthday"
                    >
                      You must be at least 18 years old.
                    </small>
                  </div>
                </div>
              </div>
              <!-- Salary -->
              <div class="col-md-6">
                <div
                  class="row g-0 align-items-center"
                  ng-class="{'has-error': userForm.Salary.$touched && userForm.Salary.$invalid}"
                >
                  <label class="col-sm-3 col-form-label"
                    >Salary: <span class="text-danger">*</span></label
                  >
                  <div class="col-sm-8">
                    <input
                      type="number"
                      step="0.01"
                      class="form-control"
                      ng-model="addUser.Salary"
                      name="Salary"
                      min="5000"
                      ng-required="true"
                      ng-pattern="/^\d+(\.\d{1,2})?$/"
                      ng-class="{
                      'is-invalid': userForm.Salary.$touched && userForm.Salary.$invalid
                    }"
                    />
                    <div
                      class="text-danger"
                      ng-if="userForm.Salary.$touched && userForm.Salary.$error.required"
                    >
                      Salary is required.
                    </div>
                    <div
                      class="text-danger"
                      ng-if="userForm.Salary.$error.min && userForm.Salary.$touched"
                    >
                      Salary must be greater than 5000.
                    </div>
                    <div
                      class="text-danger"
                      ng-if="userForm.Salary.$error.pattern && userForm.Salary.$touched"
                    >
                      Salary must be a valid number with up to 2 decimal places.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex gap-4 mb-2">
              <!-- Gender -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-4 col-form-label form_space"
                    >Gender:</label
                  >
                  <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        ng-model="addUser.Gender"
                        value="Male"
                        id="Malebox"
                      />
                      <label class="form-check-label" for="Malebox">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        ng-model="addUser.Gender"
                        value="Female"
                        id="Femalebox"
                      />
                      <label class="form-check-label" for="Femalebox"
                        >Female</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- Marital Status -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        ng-model="addUser.MaritalStatus"
                        name="MaritalStatus"
                        id="MaritalStatusCheckbox"
                      />
                      <label
                        class="form-check-label"
                        for="MaritalStatusCheckbox"
                        >Are you married?</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex gap-4 mb-2">
              <!-- Hobbies -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-4 col-form-label"
                    >Hobbies:</label
                  >
                  <div class="col-sm-8 mt-1">
                    <select
                      class="form-control p-1.5"
                      ng-model="addUser.Hobbies"
                      multiple
                    >
                      <option value="Reading">Reading</option>
                      <option value="Singing">Singing</option>
                      <option value="Surfing">Surfing</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Address -->
              <div class="col-md-6">
                <div
                  class="row align-items-center"
                  ng-class="{'has-error': userForm.Address.$touched && userForm.Address.$invalid}"
                >
                  <label class="col-sm-3 col-form-label"
                    >Address:</label
                  >
                  <div class="col-sm-8">
                    <textarea
                      class="form-control"
                      ng-model="addUser.Address"
                      rows="4"
                      ng-maxlength="500"
                      name="Address"
                      ng-class="{
                      'is-invalid': userForm.Address.$touched && userForm.Address.$invalid
                    }"
                    ></textarea>
                    <div
                      class="text-danger"
                      ng-if="userForm.Address.$touched && userForm.Address.$error.maxlength"
                    >
                      Address must be less than or equal to 500 characters.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex gap-4 mb-2">
              <!-- Country -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-4 col-form-label"
                    >Country:</label
                  >
                  <div class="col-sm-8">
                    <select
                      class="form-select"
                      ng-model="addUser.Country"
                      ng-change="CountryChanged(addUser.Country)"
                      ng-options="country.id as country.name for country in countries"
                    >
                      <option value="">Select Country</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- State -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-3 col-form-label "
                    >State:</label
                  >
                  <div class="col-sm-8">
                    <select
                      class="form-select"
                      ng-model="addUser.State"
                      ng-change="StateChanged(addUser.State)"
                      ng-options="state.id as state.name for state in states"
                      ng-disabled="!states || states.length === 0"
                    >
                      <option value="">Select State</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex gap-4 mb-2">
              <!-- City -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-4 col-form-label">City:</label>
                  <div class="col-sm-8">
                    <select
                      class="form-select"
                      ng-model="addUser.City"
                      ng-options="City.id as City.name for City in cities"
                      ng-disabled="!cities || cities.length === 0"
                    >
                      <option value="">Select City</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Zip Code -->
              <div class="col-md-6">
                <div class="row align-items-center">
                  <label class="col-sm-3 col-form-label"
                    >Zip Code:</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      name="ZipCode"
                      ng-model="addUser.ZipCode"
                      ng-pattern="/^\d{6}$/"
                    />
                    <div
                      class="text-danger"
                      ng-if="userForm.ZipCode.$invalid && userForm.ZipCode.$touched"
                    >
                      Zip Code must be exactly 6 digits.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer mt-4">
              <!-- Show these two buttons if addnewUser is true -->
              <div ng-if="addnewUser">
                <button
                  type="button"
                  class="btn btn-success"
                  ng-click="saveUser('close')"
                  ng-disabled="userForm.$invalid"
                >
                  Save & close
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  ng-click="saveUser('addNew')"
                  ng-disabled="userForm.$invalid"
                >
                  Save & Add new
                </button>
              </div>

              <!-- Show this button if addnewUser is false -->
              <div ng-if="!addnewUser">
                <button
                  type="button"
                  class="btn btn-success"
                  ng-click="saveUser('close')"
                  ng-disabled="userForm.$invalid"
                >
                  Save
                </button>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-success"
                  ng-click="restModel()"
                >
                  Rest
                </button>
              </div>
              <button
                type="button"
                class="btn btn-secondary"
                ng-click="closeModal()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Changes in form modal -->
  <div class="custom-modal-overlay" ng-if="changeSaveExists">
    <div class="custom-modal-content text-center">
      <p class="mb-3">
        You have unsaved changes in the form. Do you want to save them or
        continue without saving?
      </p>
      <button class="btn btn-primary" ng-click="changeSaveContinue()">
        Continue Without Saving
      </button>
      <button class="btn btn-secondary" ng-click="changeSaveClose()">
        Cancel
      </button>
    </div>
  </div>

  <!-- Email model -->
  <div class="custom-modal-overlay" ng-if="emailExists">
    <div class="custom-modal-content text-center">
      <p class="mb-3">
        The email you entered is already in use. Please choose another one.
      </p>
      <button class="btn btn-secondary" ng-click="closeEmailModal()">OK</button>
    </div>
  </div>

  <!-- Modal Wrapper -->
  <div class="modal-backdrop" ng-if="viewModel"></div>
  <div class="custom-modal" ng-if="viewModel">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <button
          type="button"
          ng-click="closeModalUserDetails()"
          class="close-btn"
        >
          ×
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <img
              ng-src="{{ selectedViewUser.Photo }}"
              class="user-photo"
              alt="User Photo"
            />
          </div>

          <div class="col-md-6">
            <p>
              <strong>Name:</strong> {{ selectedViewUser.FirstName }} {{
              selectedViewUser.LastName }}
            </p>
            <p><strong>Email:</strong> {{ selectedViewUser.Email }}</p>
            <p>
              <strong>Gender:</strong> {{ selectedViewUser.Gender == 1 ?
              "Female" : "Male" }}
            </p>
            <p>
              <strong>Marital Status:</strong> {{ selectedViewUser.MaritalStatus
              == 1 ? "Yes" : "No" }}
            </p>
            <p>
              <strong>Salary:</strong> {{ selectedViewUser.Salary | currency }}
            </p>
            <p>
              <strong>Birthday:</strong> {{ selectedViewUser.Birthday|date }}
            </p>
            <p><strong>Hobbies:</strong> {{ selectedViewUser.Hobbies }}</p>
          </div>
        </div>
        <hr />
        <div class="row px-4">
          <div class="col-6">
            <p><strong>Address:</strong> {{ selectedViewUser.Address }}</p>
            <p><strong>City:</strong> {{ selectedViewUser.City }}</p>
            <p><strong>Country:</strong> {{ selectedViewUser.Country }}</p>
          </div>

          <div class="col-6">
            <p><strong>State:</strong> {{ selectedViewUser.State }}</p>
            <p><strong>ZipCode:</strong> {{ selectedViewUser.ZipCode }}</p>
          </div>
        </div>
        <hr />
        <p><strong>Created By:</strong> {{ selectedViewUser.CreatedBy }}</p>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div class="modal-backdropConfirmation" ng-if="showDeleteModal"></div>
  <div class="custom-modalConfirmation" ng-if="showDeleteModal">
    <div class="modal-contentConfirmation">
      <div class="modal-headerConfirmation">
        <h5 class="modal-titleConfirmation">Confirm Deletion</h5>
        <button
          type="button"
          ng-click="closeDeleteModal()"
          class="close-btnConfirmation"
        >
          ×
        </button>
      </div>

      <div class="modal-bodyConfirmation pl-2">
        <p>Are you sure you want to delete {{ userToDelete.FirstName }}?</p>
      </div>

      <div class="modal-footerConfirmation">
        <button ng-click="confirmDelete()" class="btn btn-danger">
          Yes, Delete
        </button>
        <button ng-click="closeDeleteModal()" class="btn btn-secondary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
