<div ng-app="myApp" ng-controller="HomeController">
  <!-- Alert Message -->
  <div
    class="alert show"
    ng-class="messageAlert.message ? 'alert-success' : 'alert-danger'"
    ng-if="messageAlert"
    role="alert"
  >
    {{ messageAlert.message || messageAlert.error }}
  </div>

  <button ng-click="handleAddUser()" class="btn btn-primary mb-2">
    Add user
  </button>

  <div ui-grid="gridOptions" ui-grid-pagination class="grid" hight="auto"></div>

  <!-- Modal Backdrop -->
  <div class="modal-backdrop" ng-if="formModel"></div>

  <!-- Bootstrap Styled Modal -->

  <div
    class="modal show d-block"
    tabindex="-1"
    ng-if="formModel"
    ng-controller="UserController"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content shadow-lg border-0 rounded-4">
        <!-- Modal Header -->
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">
            {{ addnewUser ? 'Add User' : 'Edit User' }}
          </h5>

          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            ng-click="closeModal()"
          ></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body p-4">
          <form name="userForm" ng-submit="saveUser()">
            <div class="row g-3">
              <!-- First Name -->
              <div
                class="col-md-6"
                ng-class="{'has-error': userForm.FirstName.$touched && userForm.FirstName.$invalid}"
              >
                <label class="form-label">
                  First Name <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="FirstName"
                  ng-model="addUser.FirstName"
                  required
                  ng-maxlength="50"
                  ng-class="{
      'is-invalid': userForm.FirstName.$touched && userForm.FirstName.$invalid,
      'is-valid': userForm.FirstName.$touched && userForm.FirstName.$valid
    }"
                />
                <div
                  class="text-danger"
                  ng-if="userForm.FirstName.$touched && userForm.FirstName.$error.required"
                >
                  First Name is required.
                </div>
                <div
                  class="text-danger"
                  ng-if="userForm.FirstName.$touched && userForm.FirstName.$error.maxlength"
                >
                  First Name must be less than or equal to 50 characters.
                </div>
              </div>

              <!-- Last Name -->
              <div
                class="col-md-6"
                ng-class="{'has-error': userForm.LastName.$touched && userForm.LastName.$invalid}"
              >
                <label class="form-label">
                  Last Name <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="LastName"
                  ng-model="addUser.LastName"
                  required
                  ng-maxlength="50"
                  ng-class="{
      'is-invalid': userForm.LastName.$touched && userForm.LastName.$invalid,
      'is-valid': userForm.LastName.$touched && userForm.LastName.$valid
    }"
                />
                <div
                  class="text-danger"
                  ng-if="userForm.LastName.$touched && userForm.LastName.$error.required"
                >
                  Last Name is required.
                </div>
                <div
                  class="text-danger"
                  ng-if="userForm.LastName.$touched && userForm.LastName.$error.maxlength"
                >
                  Last Name must be less than or equal to 50 characters.
                </div>
              </div>

              <!-- Email -->
              <div class="col-md-6">
                <label class="form-label">
                  Email <span class="text-danger">*</span>
                </label>
                <input
                  type="email"
                  class="form-control"
                  ng-model="addUser.Email"
                  name="Email"
                  required
                  ng-maxlength="50"
                  ng-disabled="!addnewUser"
                  ng-required="true"
                  ng-class="{
                    'is-invalid': userForm.Email.$touched && userForm.Email.$invalid,
                    'is-valid': userForm.Email.$touched && userForm.Email.$valid
                  }"
                />
                <div
                  class="text-danger"
                  ng-if="userForm.Email.$touched && userForm.Email.$error.required"
                >
                  Email is required.
                </div>
                <div
                  class="text-danger"
                  ng-if="userForm.Email.$touched && userForm.Email.$error.email"
                >
                  Please enter a valid email.
                </div>
                <div
                  class="text-danger"
                  ng-if="userForm.Email.$touched && userForm.Email.$error.maxlength"
                >
                  Email must be less than or equal to 50 characters.
                </div>
              </div>

              <!-- Birthday -->
              <div
                class="col-md-6"
                ng-class="{'has-error': userForm.Birthday.$touched && userForm.Birthday.$invalid}"
              >
                <label class="form-label">
                  Birthday <span class="text-danger">*</span>
                </label>
                <input
                  type="date"
                  class="form-control"
                  name="Birthday"
                  ng-model="addUser.Birthday"
                  ng-change="checkAge()"
                  max="{{ today | date:'yyyy-MM-dd' }}"
                  required
                  ng-class="{
                    'is-invalid': userForm.Birthday.$touched && (userForm.Birthday.$invalid || isUnder18),
                    'is-valid': userForm.Birthday.$touched && userForm.Birthday.$valid && !isUnder18
                  }"
                />
                <!-- Required validation -->
                <div
                  class="text-danger"
                  ng-if="userForm.Birthday.$touched && userForm.Birthday.$error.required"
                >
                  Birthday is required.
                </div>
                <!-- Age check validation -->
                <div
                  class="text-danger"
                  ng-if="userForm.Birthday.$touched && isUnder18 && addUser.Birthday"
                >
                  You must be at least 18 years old.
                </div>
              </div>

              <!-- Gender -->
              <div class="col-md-6">
                <label class="form-label d-block">Gender</label>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    ng-model="addUser.Gender"
                    value="Male"
                  />
                  <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    ng-model="addUser.Gender"
                    value="Female"
                  />
                  <label class="form-check-label">Female</label>
                </div>
              </div>
              <!-- Marital Status -->
              <div class="col-md-6 mt-4">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    ng-model="addUser.MaritalStatus"
                    name="MaritalStatus"
                  />
                  <label class="form-check-label">Are you married?</label>
                </div>
              </div>
              <!-- Salary -->
              <div
                class="col-md-6"
                ng-class="{'has-error': userForm.Salary.$touched && userForm.Salary.$invalid}"
              >
                <label class="form-label">Salary</label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  ng-model="addUser.Salary"
                  name="Salary"
                  min="5000"
                  ng-pattern="/^\d+(\.\d{1,2})?$/"
                  ng-class="{
                  'is-invalid': userForm.Salary.$touched && userForm.Salary.$invalid,
                  'is-valid': userForm.Salary.$touched && userForm.Salary.$valid
                }"
                />

                <div
                  class="text-danger"
                  ng-if="userForm.Salary.$error.min && userForm.Salary.$touched"
                >
                  Salary must be greater than 5000.
                </div>

                <div
                  class="text-danger"
                  ng-if="userForm.Salary.$error.pattern && userForm.Salary.$touched"
                >
                  Salary must be a valid number with up to 2 decimal places.
                </div>
              </div>

              <!-- Photo Upload -->
              <img
                ng-if="imageUrl"
                ng-src="{{imageUrl}}"
                width="100"
                height="200"
                alt="Preview"
              />
              <div class="col-md-6">
                <label class="form-label">Photo</label>
                <input
                  type="file"
                  class="form-control"
                  ng-model="addUser.Photo"
                  ngf-select="uploadImage($file)"
                  accept="image/*"
                />
              </div>
              <!-- Hobbies -->
              <div class="col-md-6">
                <label class="form-label">Hobbies</label>
                <select
                  class="form-control"
                  ng-model="addUser.Hobbies"
                  multiple
                >
                  <option value="Reading">Reading</option>
                  <option value="Singing">Singing</option>
                  <option value="Surfing">Surfing</option>
                </select>
              </div>
              <!-- Address -->

              <div
                class="col-md-6"
                ng-class="{'has-error': userForm.Address.$touched && userForm.Address.$invalid}"
              >
                <label class="form-label">Address</label>
                <textarea
                  class="form-control"
                  ng-model="addUser.Address"
                  rows="4"
                  ng-maxlength="500"
                  name="Address"
                  ng-class="{
                      'is-invalid': userForm.Address.$touched && userForm.Address.$invalid,
                      'is-valid': userForm.Address.$touched && !userForm.Address.$invalid
                    }"
                ></textarea>
                <div
                  class="text-danger"
                  ng-if="userForm.Address.$touched && userForm.Address.$error.maxlength"
                >
                  Address must be less than or equal to 500 characters.
                </div>
              </div>

              <!-- Country -->
              <div class="col-md-4 mt-2">
                <label class="form-label">Country</label>
                <select
                  class="form-select"
                  ng-model="addUser.Country"
                  ng-change="CountryChanged(addUser.Country)"
                  ng-options="country.id as country.name for country in countries"
                >
                  <option value="">Select Country</option>
                </select>
              </div>

              <!-- State -->
              <div class="col-md-4 mt-2">
                <label class="form-label">State</label>
                <select
                  class="form-select"
                  ng-model="addUser.State"
                  ng-change="StateChanged(addUser.State)"
                  ng-options="state.id as state.name for state in states"
                >
                  <option value="">Select State</option>
                </select>
              </div>

              <!-- City -->
              <div class="col-md-4 mt-2">
                <label class="form-label">City</label>
                <select
                  class="form-select"
                  ng-model="addUser.City"
                  ng-options="City.id as City.name for City in cities"
                >
                  <option value="">Select City</option>
                </select>
              </div>
              <!-- Zip Code -->
              <div class="col-md-6">
                <label class="form-label">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="ZipCode"
                  ng-model="addUser.ZipCode"
                  ng-pattern="/^\d{6}$/"
                />
                <div
                  class="text-danger"
                  ng-if="userForm.ZipCode.$invalid && userForm.ZipCode.$touched"
                >
                  Zip Code must be exactly 6 digits.
                </div>
              </div>
            </div>
            <!-- ng-disabled="userForm.$invalid" -->
            <!-- Footer -->
            <div class="modal-footer mt-4">
              <button type="submit" class="btn btn-success">Save</button>
              <button
                type="button"
                class="btn btn-secondary"
                ng-click="closeModal()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Wrapper -->
  <div class="modal-backdrop" ng-if="viewModel"></div>
  <div class="custom-modal" ng-if="viewModel">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <button type="button" ng-click="closeModal()" class="close-btn">
          ×
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <img
              ng-src="{{ selectedViewUser.Photo }}"
              class="user-photo"
              alt="User Photo"
            />
          </div>

          <div class="col-md-6">
            <p>
              <strong>Name:</strong> {{ selectedViewUser.FirstName }} {{
              selectedViewUser.LastName }}
            </p>
            <p><strong>Email:</strong> {{ selectedViewUser.Email }}</p>
            <p>
              <strong>Gender:</strong> {{ selectedViewUser.Gender == 1 ?
              "Female" : "Male" }}
            </p>
            <p>
              <strong>Marital Status:</strong> {{ selectedViewUser.MaritalStatus
              == 1 ? "Yes" : "No" }}
            </p>
            <p>
              <strong>Salary:</strong> {{ selectedViewUser.Salary | currency }}
            </p>
            <p>
              <strong>Birthday:</strong> {{ selectedViewUser.Birthday|date }}
            </p>
            <p><strong>Hobbies:</strong> {{ selectedViewUser.Hobbies }}</p>
          </div>
        </div>
        <hr />
        <div class="row px-4">
          <div class="col-6">
            <p><strong>Address:</strong> {{ selectedViewUser.Address }}</p>
            <p><strong>City:</strong> {{ selectedViewUser.City }}</p>
            <p><strong>Country:</strong> {{ selectedViewUser.Country }}</p>
          </div>

          <div class="col-6">
            <p><strong>State:</strong> {{ selectedViewUser.State }}</p>
            <p><strong>ZipCode:</strong> {{ selectedViewUser.ZipCode }}</p>
          </div>
        </div>
        <hr />
        <p><strong>Created By:</strong> {{ selectedViewUser.CreatedBy }}</p>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div class="modal-backdropConfirmation" ng-if="showDeleteModal"></div>
  <div class="custom-modalConfirmation" ng-if="showDeleteModal">
    <div class="modal-contentConfirmation">
      <div class="modal-headerConfirmation">
        <h5 class="modal-titleConfirmation">Confirm Deletion</h5>
        <button
          type="button"
          ng-click="closeDeleteModal()"
          class="close-btnConfirmation"
        >
          ×
        </button>
      </div>

      <div class="modal-bodyConfirmation pl-2">
        <p>Are you sure you want to delete {{ userToDelete.FirstName }}?</p>
      </div>

      <div class="modal-footerConfirmation">
        <button ng-click="confirmDelete()" class="btn btn-danger">
          Yes, Delete
        </button>
        <button ng-click="closeDeleteModal()" class="btn btn-secondary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
